body, html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(../img/joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.card {
  margin: auto;
  background-image: url(../img/index-card.jpg);
  background-position: center;
  background-size: 600px auto;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 1px 1px 7px #333;
  margin-bottom: 20px;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
  background-color: rgba(230, 230, 230, 0.767);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.side {
  height: 100%;
  width: 100%;
}

.side-1 {
  font-size: 40px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}

#term {
  margin-top: ;
}

.side-2 {
  font-size: 25px;
  padding-left: 8%;
  padding-right: 8%;
  display: none;
}

.new-card {
  margin: auto;
}

button {
  transition: all .3s;
  box-shadow: 1px 1px 7px #333;
}

button:hover {
  transform: scale(1.15);
  box-shadow: 3px 3px 14px #333;
  background-color: plum !important;
}